* {
    font-family: "{{fontType}}";
    color: {{fontColor}};
    font-size: {{fontSize}}px;
    overflow: hidden;
    -webkit-text-stroke-width: {{fontOutlineThickness}}px;
    -webkit-text-stroke-color: {{fontOutlineColor}};
}

.main-container {
    margin-top: 2vh;
    height: 100vh;
}

ul {
    display: flex;
    flex-direction: {{layout}};
    padding-left: 0;
    justify-content: space-evenly;
    height: 100%;
    margin-block-start: 0;
    flex-wrap: wrap;
}

li {
    display: flex-inline;
    list-style: none;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

span {
    margin-right: {{labelSpacing}}px;
}