<div class="center-container">
  <mat-expansion-panel class="header" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Options</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Host</mat-label>
        <input matInput formControlName="host" placeholder="127.0.0.1"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Port</mat-label>
        <input matInput formControlName="port" type="number" step="1" placeholder="8080"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Endpoint</mat-label>
        <input matInput formControlName="endpoint" placeholder="/"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput formControlName="filter"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select formControlName="sortBy">
          @for (field of sortFields | keyvalue; track field.key) {
            <mat-option value="{{field.key}}">{{ field.value }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <mat-action-row>
      @if (connected()) {
        <button mat-raised-button color="warn" (click)="disconnect()">Disconnect</button>
      } @else {
        <button mat-raised-button color="primary" (click)="connect(form.value)">Connect</button>
      }
    </mat-action-row>
  </mat-expansion-panel>

  @if (data().length == 0) {
    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-content><p>No kills yet</p></mat-card-content>
    </mat-card>
  }

  <mat-accordion>
    @for (event of data(); track [event.victim, event.timestamp]) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ event.victim }}</mat-panel-title>
          <mat-panel-title>{{ event.timestamp }}</mat-panel-title>
          <mat-panel-description>killed by {{ event.attacker }}</mat-panel-description>
          <button mat-icon-button (click)="remove($index)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div>
          {{ data() | json }}
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>

<button mat-mini-fab color="primary" class="clear" (click)="clear()">
  <mat-icon>clear_all</mat-icon>
</button>
