<mat-sidenav-container hasBackdrop="false" autosize>
  <mat-sidenav mode="push" opened>
    <mat-toolbar>
      <button mat-icon-button aria-label="Menu button" (click)="toggleExpanded()">
        <mat-icon>{{ expanded() ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </mat-toolbar>
    <app-nav-list category="Overlays" routerLinkBase="/overlays" [links]="overlays()" [expanded]="expanded()"></app-nav-list>
    <app-nav-list category="Utilities" routerLinkBase="/utilities" [links]="utilities()" [expanded]="expanded()"></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>{{ title() }}</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet/>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
