* {
    font-family: '{{font}}', sans-serif;
    color: {{fontColor}};
    font-size: {{fontSize}}px;
    overflow: hidden;
    -webkit-text-stroke-width: {{fontOutlineThickness}}px;
    -webkit-text-stroke-color: {{fontOutlineColor}};
}
.fade {
    animation: 1s fade forwards;
    animation-delay: {{fadeTime}}s;
}

#main-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
}

.row {
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-in {
    0% {
        left: 200%;
    }
    100% {
        left: 0;
    }
}